.aboutPage {
    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-top: 2rem solid var(--clr-accent-400);
}


/************* Story *************/

.story {
    padding: 3rem 3rem 3rem 6rem;
    min-height: 85svh;

}




.story__content {

    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    position: relative;
}

.story__content::after,
.story__content::before {
    content: " ";
    position: absolute;
    background-color: var(--clr-accent-500);
    z-index: -1;

}

.story__content::after {
    width: 1px;
    right: 0;
    height: 50%;
    bottom: -5%;
}

.story__content::before {
    height: 1px;
    width: 40%;
    right: -3%;
    bottom: 0;

}

.story__content h2 {
    color: var(--clr-accent-500);
    font-size: var(--fs-700);
    letter-spacing: 1.5px;

}

.story__content p {
    font-size: var(--fs-500);
    letter-spacing: 1.2px;
    line-height: 1.8;

}


/************* Skills *************/

.skills {}


.skills h2 {
    color: var(--clr-accent-500);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    text-align: center;
    letter-spacing: 1.5px;
}

.skills__container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;


    /* background-color: bisque; */
}