.btn {
    font-family: inherit;


    text-transform: uppercase;
    background-color: var(--clr-accent-400);

    border-radius: 5px;
    border: none;
    cursor: pointer;

}


.cta {
    width: fit-content;
    padding: .5rem 1.2rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.cta:hover {
    background-color: transparent;
    color: var(--clr-accent-500);
    border-color: var(--clr-accent-500);
}