.homePage {

    /* 
    min-height: calc(100svh - 5rem);
    margin: 1.5rem 1.5rem 1.5rem 0;
    border-width: 1px 1px 1px 0;
    border-radius: 0 50px 50px 0;
    border-color: var(--clr-accent-500);
    border-style: solid;  
    overflow: hidden; */

}

.welcome {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 100%;
}


/*Content ------------------------*/

.welcome__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 70%;
    max-width: 850px;

    padding: 3rem 0;

    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--clr-accent-500);

}

.welcome__content::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--clr-accent-400);

}

.welcome__content h1 {
    align-self: flex-start;

    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--clr-accent-500);

    padding: 1rem 1rem 1rem 0;


    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--clr-accent-500);
    border-radius: 0 10px 10px 0;
}

.welcome__content p {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1.4;

}

/*Picture ------------------------*/

.welcome__img {
    display: block;
    max-width: 35rem;

    border-radius: 25px;
    overflow: hidden;

    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);

}



.welcome__img img {
    object-fit: cover;
    height: 100%;

}


/*Social ------------------------*/

.welcome__social,
.welcome__social {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--clr-accent-500);
}

.welcome__social a:link,
.welcome__social a:visited {
    text-decoration: none;
    color: var(--clr-accent-500);

}

.welcome__social a:hover,
.welcome__social a:active {
    color: var(--clr-accent-400);
}

/* animation  */
.welcome__content h1 {
    opacity: 0;
    transform: translateX(-40px);
    animation: fadeIn .5s ease-out forwards;
}


.welcome__content a:link,
.welcome__content a:visited {
    text-decoration: none;
    color: var(--clr-accent-500);
    font-weight: var(--fw-bold);
}

.welcome__content a:hover,
.welcome__content a:active {
    color: var(--clr-accent-400);
    text-decoration: underline;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}