.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;

}

.navbar__list__link:link,
.navbar__list__link:visited {
    position: relative;
    display: block;
    color: var(--clr-accent-500);
    padding: 0.5rem;
    text-decoration: none;
    font-size: var(--fs-500);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.navbar__list__link:hover,
.navbar__list__link:active {
    color: var(--clr-accent-400);
}



.navbar__list__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--clr-accent-500);
    transition: width 0.3s ease-in-out;
    z-index: -1;
}


.navbar__list__link:hover::after,
.navbar__list__link.active::after {
    width: 50%;
}