.navbar {

    width: 12rem;
    max-height: 100svh;
    padding: 4rem 0;

    grid-column: span 1;

    font-size: var(--fs-500);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15rem;

    border-width: 0 1px 0 0;
    border-color: var(--clr-accent-500);
    border-style: solid;

    position: sticky;
    top: 0;
}



.navbar__list {
    display: grid;
    gap: 2.5rem;
    width: 100%;
    text-align: center;
    padding-inline-start: 1.5rem;
}


.navbar__list a:link,
.navbar__list a:visited {
    position: relative;
    display: block;
    color: var(--clr-accent-500);
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px 0 0 10px;

}

.navbar__list a:hover,
.navbar__list a:active {
    color: var(--clr-accent-400);
}



.navbar__list a.active {
    border: 1px solid var(--clr-accent-500);

    border-right-color: var(--clr-neutral-100);
    margin-right: -1px;
    animation: activeStateAnimation 0.5s ease-out;


    color: var(--clr-accent-400);
}


/* Keyframes for active state animation */
@keyframes activeStateAnimation {
    0% {
        border: 1px solid var(--clr-neutral-100);
        border-right-color: var(--clr-accent-500);
        border-right-width: 0;
    }

    100% {
        border: 1px solid var(--clr-accent-500);
        border-right-color: var(--clr-neutral-100);
        border-right-width: 2px;
    }
}