.skills__item {
    text-align: center;
    border: 1px solid var(--clr-accent-500);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.skills__item h3 {
    color: var(--clr-accent-400);
    font-size: var(--fs-500);

}

.skills__item p {
    font-size: var(--fs-400);
    letter-spacing: 1px;
    line-height: 1.5;
}

.skills__item .icon {
    font-size: 3rem;
    background-color: var(--clr-neutral-100);
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 100vh;
    margin-top: -4rem;
}