.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    color: var(--clr-neutral-800);
}

.container h1 {
    font-size: 6rem;
    line-height: 1;
    color: var(--clr-accent-500);
}

.container p {
    font-size: var(--fs-600);
}

.backLink {
    margin-top: 1rem;
    color: var(--clr-accent-500);
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid var(--clr-accent-500);
    border-radius: 6px;
}

.backLink:hover {
    color: var(--clr-accent-400);
    border-color: var(--clr-accent-400);
}
